target/
.idea/
*.iml
*.log
.DS_Store
/mvnw
/mvnw.cmd
.classpath
.project
.settings/
*.swp
*~
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.DS_Store
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
